@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bangers&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@700&display=swap");

.commonfont {
  font-family: "Noto Sans JP", cursive;
}

.maintitlefont {
  font-family: "Orbitron", sans-serif;
}

.gamefont {
  font-family: "Bangers", cursive;
}

/*Login*/

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.loginBox {
  background-color: #fefefe;
  padding: 20px;
}

.loginPageBackground {
  /* background-image: url("./public/login-image.jpg");
  background-size: auto;
  background-repeat: no-repeat; */
  margin-top: 35px;
}

.title {
  font-size: 24px;
  text-align: center;
  font-family: "Noto Sans JP", cursive;
  margin-bottom: 3rem;
  overflow: hidden;
  animation: typing 2s steps(20), blink-caret 0.5s step-end infinite;
  white-space: nowrap;
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes blink-caret {
  from,
  to {
    border-right-color: transparent;
  }
  50% {
    border-right-color: black;
  }
}

.form {
  margin-top: 20px;
}

.inputGroup {
  margin-bottom: 10px;
  font-family: "Noto Sans JP", cursive;
}

.label {
  display: block;
  margin-bottom: 5px;
  font-family: "Noto Sans JP", cursive;
}

.input {
  width: 100%;
  padding: 5px;
  border: 1px solid #000000;
  font-family: "Noto Sans JP", cursive;
  border-radius: 8px;
}

.button {
  background-color: #d03535;
  color: #ffffff;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  border-radius: 20px;
}

.signupText {
  margin-top: 20px;
  text-align: center;
  font-family: "Noto Sans JP", cursive;
}

.signupText a {
  color: #d03535;
  text-decoration: underline;
}

/* Header */

.header__title {
  text-align: center;
}

.header__tabs {
  padding: 20px 20px;
  margin: 0;
  display: flex;
  flex-direction: column;
  background-color: #d0c8b8;
  border: 4px solid #a8a8a0;
  border-radius: 5px;
  font-family: "Orbitron", cursive;
}

/* Homepage */

.pokemoncontainer {
  background-color: #f8f0d8;
  border: 10px solid #585868;
  border-radius: 5px;
  border-width: 5px 10px 5px 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 50%;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}

.pokemonlist {
  background-color: #88c880;
  border: 5px solid #c8f8c0;
  border-radius: 5px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
}

.timercontainer {
  display: flex;
  gap: 1rem;
}

.scorebutton {
  display: block;
  margin: 0 auto;
  background-color: #fafbf6;
  color: #000;
  border: 2px solid #1d1e18;
  border-radius: 10px;
  font-family: "Noto Sans JP", sans-serif;
}

.searchbar {
  background-color: "#90d8e0";
  border-color: "#707080";
  border-radius: "5px";
}

.submitbutton {
  background-color: #fafbf6;
  color: #000;
  border: 2px solid #1d1e18;
  border-radius: 10px;
  font-family: "Noto Sans JP", sans-serif;
}

.homepagebackground {
  background-color: #3888f0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: -1;
}

.leaderboard {
  color: black;
  font-family: "Orbitron", cursive;
}

.leaderboardcontainer {
  max-height: 400px;
  overflow: auto;
}

.odd {
  background-color: #e06068;
  border: solid 2px #505050;
  font-family: "Noto Sans JP", cursive;
}

.even {
  background-color: #f8f0d8;
  border-radius: 5px;
  font-family: "Noto Sans JP", cursive;
}
